.logo {
    width: 60%;
    margin-top: 0rem !important;   
    padding: 10px; 
    min-width: 30;
    height: auto;
    }     

.bandeira {
    width: 20%;
}     

.cartao {
    padding: 10;
    margin: 0;
    background-color: #F8F9FA;          
}

.hover_link:hover {
    color: #fff;
    text-shadow: 2px 3px 5px #cecece;
}  



.lingua {
    display: flex;
    align-items: center; 
    margin-top: 5px;
    margin-bottom: 5px;
}